@{
    ViewData["Title"] = "Home Page";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    function SendMessage() {
        $.get("/Home/SendMessage");
    }
    function ReceiveMessage() {
        $.get("/Home/ReceiveMessage");

        var x = document.getElementById("consumer");
        if (x.style.display === "none") {
        x.style.display = "block";
        } else {
        x.style.display = "none";
        }
    }
</script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center">
    <button runat="server" useSubmitBehavior="false" onclick="ReceiveMessage()" id="consumer">Create consumer</button>
    <button runat="server" useSubmitBehavior="false" onclick="SendMessage()">Send message</button>
</div>